n8n/attendance-reminder.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "57d6bc69-667d-4c18-af3e-3edf5f318713",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ⚙️ Mode: Run Once for All Items\n\n// 1) 트리거에서 넘어온 timestamp가 있으면 그걸 사용, 없으면 현재 시간 사용\nconst nowLocal = $json.timestamp ? new Date($json.timestamp) : new Date();\n\n// 2) 로컬 → UTC로 변환\nconst utcMs = nowLocal.getTime() + nowLocal.getTimezoneOffset() * 60000;\n\n// 3) UTC → 한국(UTC+9) 시간으로 변환\nconst seoulMs = utcMs + 9 * 60 * 60 * 1000;\nconst seoul = new Date(seoulMs);\n\n// 4) 한국 시간 기준 정보 추출\nconst hour = seoul.getHours();      // 0~23\nconst minute = seoul.getMinutes();  // 0~59\nconst day = seoul.getDay();         // 0:일 ~ 6:토\nconst yyyyMMdd = seoul.toISOString().slice(0, 10);\n\n// 5) 평일/주말, 17:00 여부 플래그 계산\nconst isWeekend = (day === 0 || day === 6);\nconst isWeekday = !isWeekend;\nconst isSeoul1700 = (hour === 17 && minute === 0);\n\n// 6) 실제로 이 시간에 워크플로우를 계속 진행해야 하는지 여부\nconst shouldRun = isWeekday && isSeoul1700;\n\n// 7) 항상 1개 아이템을 내려보내고, 플래그로 판단\nreturn [\n  {\n    json: {\n      seoulTime: seoul.toISOString(),\n      date: yyyyMMdd,\n      hour,\n      minute,\n      day,\n      isWeekday,\n      isSeoul1700,\n      shouldRun,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "b716e1f1-ac85-4d09-b5ec-3b4d4365353f",
      "name": "시간 체크"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9edec541-da58-4d45-b3d3-4fbe042bb12d",
              "leftValue": "={{ true }}",
              "rightValue": "1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "83db6a10-9fbc-4c9f-95e7-3c5578e678b2",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/hiworks/attendance-status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "Kq93jK8sA7djW4qp19"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -48
      ],
      "id": "c2035dc3-3f1c-4197-a4ed-5b6549f503ed",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "044f07a1-75a4-4b17-a91d-f681f2e462bd",
              "leftValue": "={{ $json[\"checkedIn\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4f4ee415-0d36-48f7-a09c-af4b6d86ce51",
              "leftValue": "={{ $json[\"checkedOut\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -48
      ],
      "id": "61146c72-05ac-4ae4-b952-edc6be153f34",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushbullet.com/v2/pushes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "o.ji3Bo7qmdREijybgRlZEQHspcmKJBtZP"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"note\",\n  \"title\": \"퇴근 체크 알림\",\n  \"body\": \"오늘 출근했는데 퇴근이 아직 눌리지 않았습니다!\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        -144
      ],
      "id": "695349e1-8dc7-4897-9f31-6b465aa444a1",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "시간 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시간 체크": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5129748-3963-4b81-94bb-ed358cf81dfb",
  "meta": {
    "instanceId": "d784bc3bf78be92e7247a8931496f943fddbe0fd7adc7c9bdd75d869fdd7096f"
  },
  "id": "4OlnLJQN1Zwknp2y",
  "tags": []
}
